<!DOCTYPE html>
<html>
  <head>
  	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <title>Soco</title>
    <%= csrf_meta_tags %>
    <% if @req == :pc %>
      document.write('<link rel="stylesheet" type="text/css" href="/Stylesheet/PC.css"/>');
    <% else %>
      document.write('<link rel="stylesheet" type="text/css" href="/Stylesheet/SP.css"/>');
    <% end %>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <%= yield %>
  </body>
</html>