<% @page_title = "部屋一覧" %>
<div class="room_name"><img src="/list.png"> 部屋リスト</div>
<div class="rooms">
  <ul>
    <div　class="roomlist" id="roomlist">
      <a href="/rooms/new"><li>+ 新たに部屋を作る</li></a>
      <a href="/rooms/0"><li>ラウンジ</li></a>
      <div class="loading" id="loading">
        <img src="./loading.gif">
        <br />位置情報を取得しています<br/><br/>
      </div>
      <div class="alert" id="alert">
        位置情報を取得できませんでした。<br/>
        <a href="/guide">こちら</a>を参照して、設定を確認してください。<br/><br/>
      </div>
    </div>
  </ul>
</div>