<html>
<head>
</head>
<body>
<header>
	<div class="top">
	<span style="float:left"><a class="title" href="#">Soco</a></span>
	<span style="float:right"><a class="top" href="#"><img class="top_img" height="22" src="./setting.png">設定</a></span>
	<span style="float:right">&emsp;</span>
	<span style="float:right"><a class="top" href="#"><img class="top_img" height="22" src="./about.ico">Socoについて</a></span>
	<span style="float:right">&emsp;</span>
	<span style="float:right"><a class="top" href="#"><img class="top_img" height="22" src="./post.png">投稿する</a></span>

</div>
</header>
	<div class="main">
		<div class="post">
			hoge
		</div>
	</div>
</body>
</html>